<script language="Javascript">
    //function Enviar1() {
        var url = window.location.hash;
        //alert(url); //imprimindo a URL

        var acess = url.split('#access_token=').toString();
        //alert(acess);

        //alert("{{state}}");
        var acess3 = acess.replace('&token_type=bearer&state='.concat("{{state}}"),''); // state recebido da Views
        var acess4 = acess3.replace(',','');
        //alert(acess4);

        location.href='/autenticar/?access_token='.concat(acess4);
    //}
</script>