{% extends 'gls/base.html' %}


{% block content %}

<br>
<hr>
<div class="row">
        <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div>
            <h1>Ops, algo deu errado!</h1>
            <br>
            <h5>{{mensagem}}</h5>
        </div>

        <br>
        <br>
        <!-- <div>
            <form action="/ws">
                <button type="submit" class="btn btn-dark" style="width: 50%">Voltar</button>
            </form>
        </div> -->
    </div>
</div>

{% endblock %}